#header{
    font-size:25px;
    background-color:red;
    text-align:center;
}
#donation{
    background-color:blue;
}
#donation{
    font-size:25px;
    color:red;
    text-align:center;
}
#donation button{
      width: 300px;   
    height: 50px;
    font-size: 20px;
    background: red;
    color: black;
    border-radius: 5px;
    border: solid yellow 3px;
}
#pic{
     width:100%;
    display:flex;
    justify-content:space-around;
     align-items: center;
     padding: 40px 0;
    background-color:orange;
}
#pic img{
    width: 20%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
#merch{
    width:50%;
    display:flex;
    justify-content:space-around;
     align-items: center;
     padding: 40px 0;
    background-color:brown;
}
#merch img{
    width: 20%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
#voter{
    width:50%;
    display:flex;
    justify-content:space-around;
    background-color:purple;
    align-items: center;
     padding: 40px 0;
}
#voter img{
    width: 20%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
#main{
    display:flex;
    justify-content:flex-end;
}
#egael{
     display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 0;
}
#eagles h2 {text-shadow: 2px 2px white;}
p {
    font-size: 20px;
}

html{
    background-color:red;
}